<!-- these are fragments from different page -->

<!-- End comment #1 -->
<div class="comment clearfix" id="comment-2">
    <img alt="" class="comment-img float-left" src="{% static 'core/assets/img/comments-2.jpg' %}"/>
    <h5>
     <a href="">
      Aron Alvarado
     </a>
     <a class="reply" href="#">
      <i class="icofont-reply">
      </i>
      Reply
     </a>
    </h5>
    <time datetime="2020-01-01">
     01 Jan, 2020
    </time>
    <p>
     Ipsam tempora sequi voluptatem quis sapiente non. Autem itaque eveniet saepe. Officiis illo ut beatae.
    </p>
    <div class="comment comment-reply clearfix" id="comment-reply-1">
     <img alt="" class="comment-img float-left" src="{% static 'core/assets/img/comments-3.jpg' %}"/>
     <h5>
      <a href="">
       Lynda Small
      </a>
      <a class="reply" href="#">
       <i class="icofont-reply">
       </i>
       Reply
      </a>
     </h5>
     <time datetime="2020-01-01">
      01 Jan, 2020
     </time>
     <p>
      Enim ipsa eum fugiat fuga repellat. Commodi quo quo dicta. Est ullam aspernatur ut vitae quia mollitia
               id non. Qui ad quas nostrum rerum sed necessitatibus aut est. Eum officiis sed repellat maxime vero
               nisi natus. Amet nesciunt nesciunt qui illum omnis est et dolor recusandae.
               Recusandae sit ad aut impedit et. Ipsa labore dolor impedit et natus in porro aut. Magnam qui cum.
               Illo similique occaecati nihil modi eligendi. Pariatur distinctio labore omnis incidunt et illum.
               Expedita et dignissimos distinctio laborum minima fugiat.
               Libero corporis qui. Nam illo odio beatae enim ducimus. Harum reiciendis error dolorum non autem
               quisquam vero rerum neque.
     </p>
     <div class="comment comment-reply clearfix" id="comment-reply-2">
      <img alt="" class="comment-img float-left" src="{% static 'core/assets/img/comments-4.jpg' %}"/>
      <h5>
       <a href="">
        Sianna Ramsay
       </a>
       <a class="reply" href="#">
        <i class="icofont-reply">
        </i>
        Reply
       </a>
      </h5>
      <time datetime="2020-01-01">
       01 Jan, 2020
      </time>
      <p>
       Et dignissimos impedit nulla et quo distinctio ex nemo. Omnis quia dolores cupiditate et. Ut unde
                 qui eligendi sapiente omnis ullam. Placeat porro est commodi est officiis voluptas repellat quisquam
                 possimus. Perferendis id consectetur necessitatibus.
      </p>
     </div>
     <!-- End comment reply #2-->
    </div>
    <!-- End comment reply #1-->
   </div>
   <!-- End comment #2-->
   <div class="comment clearfix" id="comment-3">
    <img alt="" class="comment-img float-left" src="{% static 'core/assets/img/comments-5.jpg' %}"/>
    <h5>
     <a href="">
      Nolan Davidson
     </a>
     <a class="reply" href="#">
      <i class="icofont-reply">
      </i>
      Reply
     </a>
    </h5>
    <time datetime="2020-01-01">
     01 Jan, 2020
    </time>
    <p>
     Distinctio nesciunt rerum reprehenderit sed. Iste omnis eius repellendus quia nihil ut accusantium
             tempore. Nesciunt expedita id dolor exercitationem aspernatur aut quam ut. Voluptatem est accusamus iste
             at.
             Non aut et et esse qui sit modi neque. Exercitationem et eos aspernatur. Ea est consequuntur officia
             beatae ea aut eos soluta. Non qui dolorum voluptatibus et optio veniam. Quam officia sit nostrum
             dolorem.
    </p>
   </div>
   <!-- End comment #3 -->
   <div class="comment clearfix" id="comment-4">
    <img alt="" class="comment-img float-left" src="{% static 'core/assets/img/comments-6.jpg' %}"/>
    <h5>
     <a href="">
      Kay Duggan
     </a>
     <a class="reply" href="#">
      <i class="icofont-reply">
      </i>
      Reply
     </a>
    </h5>
    <time datetime="2020-01-01">
     01 Jan, 2020
    </time>
    <p>
     Dolorem atque aut. Omnis doloremque blanditiis quia eum porro quis ut velit tempore. Cumque sed quia ut
             maxime. Est ad aut cum. Ut exercitationem non in fugiat.
    </p>
   </div>
   <!-- End comment #4 -->



   <!-- blog entries for the blog list page -->

   <article class="entry">
        <div class="entry-img">
            <img alt="" class="img-fluid" src="{% static 'core/assets/img/blog-post-2.jpg' %}" />
        </div>
        <h2 class="entry-title">
            <a href="{% static 'core/blog-single.html' %}">
Nisi magni odit consequatur autem nulla dolorem
</a>
        </h2>
        <div class="entry-meta">
            <ul>
                <li class="d-flex align-items-center">
                    <i class="icofont-user">
</i>
                    <a href="{% static 'core/blog-single.html' %}">
John
      Doe
</a>
                </li>
                <li class="d-flex align-items-center">
                    <i class="icofont-wall-clock">
</i>
                    <a href="{% static 'core/blog-single.html' %}">
                        <time datetime="2020-01-01">
Jan 1, 2020
</time>
                    </a>
                </li>
                <li class="d-flex align-items-center">
                    <i class="icofont-comment">
</i>
                    <a href="{% static 'core/blog-single.html' %}">
12
      Comments
</a>
                </li>
            </ul>
        </div>
        <div class="entry-content">
            <p>
                Incidunt voluptate sit temporibus aperiam. Quia vitae aut sint ullam quis illum voluptatum et. Quo libero rerum voluptatem pariatur nam. Ad impedit qui officiis est in non aliquid veniam laborum. Id ipsum qui aut. Sit aliquam et quia molestias laboriosam.
                Tempora nam odit omnis eum corrupti qui aliquid excepturi molestiae. Facilis et sint quos sed voluptas. Maxime sed tempore enim omnis non alias odio quos distinctio.
            </p>
            <div class="read-more">
                <a href="{% static 'core/blog-single.html' %}">
Read More
</a>
            </div>
        </div>
    </article>
    <!-- End blog entry -->
    <article class="entry">
        <div class="entry-img">
            <img alt="" class="img-fluid" src="{% static 'core/assets/img/blog-post-3.jpg' %}" />
        </div>
        <h2 class="entry-title">
            <a href="{% static 'core/blog-single.html' %}">
Possimus soluta ut id suscipit ea ut. In quo quia et soluta libero sit
  sint.
</a>
        </h2>
        <div class="entry-meta">
            <ul>
                <li class="d-flex align-items-center">
                    <i class="icofont-user">
</i>
                    <a href="{% static 'core/blog-single.html' %}">
John
      Doe
</a>
                </li>
                <li class="d-flex align-items-center">
                    <i class="icofont-wall-clock">
</i>
                    <a href="{% static 'core/blog-single.html' %}">
                        <time datetime="2020-01-01">
Jan 1, 2020
</time>
                    </a>
                </li>
                <li class="d-flex align-items-center">
                    <i class="icofont-comment">
</i>
                    <a href="{% static 'core/blog-single.html' %}">
12
      Comments
</a>
                </li>
            </ul>
        </div>
        <div class="entry-content">
            <p>
                Aut iste neque ut illum qui perspiciatis similique recusandae non. Fugit autem dolorem labore omnis et. Eum temporibus fugiat voluptate enim tenetur sunt omnis. Doloremque est saepe laborum aut. Ipsa cupiditate ex harum at recusandae nesciunt. Ut dolores
                velit.
            </p>
            <div class="read-more">
                <a href="{% static 'core/blog-single.html' %}">
Read More
</a>
            </div>
        </div>
    </article>
    <!-- End blog entry -->
    <article class="entry">
        <div class="entry-img">
            <img alt="" class="img-fluid" src="{% static 'core/assets/img/blog-post-4.jpg' %}" />
        </div>
        <h2 class="entry-title">
            <a href="{% static 'core/blog-single.html' %}">
Non rem rerum nam cum quo minus. Dolor distinctio deleniti explicabo eius
  exercitationem. Veniam eius velit ab ipsa quidem rem.
</a>
        </h2>
        <div class="entry-meta">
            <ul>
                <li class="d-flex align-items-center">
                    <i class="icofont-user">
</i>
                    <a href="{% static 'core/blog-single.html' %}">
John
      Doe
</a>
                </li>
                <li class="d-flex align-items-center">
                    <i class="icofont-wall-clock">
</i>
                    <a href="{% static 'core/blog-single.html' %}">
                        <time datetime="2020-01-01">
Jan 1, 2020
</time>
                    </a>
                </li>
                <li class="d-flex align-items-center">
                    <i class="icofont-comment">
</i>
                    <a href="{% static 'core/blog-single.html' %}">
12
      Comments
</a>
                </li>
            </ul>
        </div>
        <div class="entry-content">
            <p>
                Aspernatur rerum perferendis et sint. Voluptates cupiditate voluptas atque quae. Rem veritatis rerum enim et autem. Saepe atque cum eligendi eaque iste omnis a qui. Quia sed sunt. Ea asperiores expedita et et delectus voluptates rerum. Id saepe ut itaque
                quod qui voluptas nobis porro rerum. Quam quia nesciunt qui aut est non omnis. Inventore occaecati et quaerat magni itaque nam voluptas. Voluptatem ducimus sint id earum ut nesciunt sed corrupti nemo.
            </p>
            <div class="read-more">
                <a href="{% static 'core/blog-single.html' %}">
Read More
</a>
            </div>
        </div>
    </article>