{% if page_obj.paginator.num_pages > 1 %}
<div class="blog-pagination">
    <ul class="justify-content-center">
        {% if page_obj.has_previous %}
            <li>
                <a href="?page={{ page_obj.previous_page_number}}"><i class="icofont-rounded-left"></i></a>
            </li>
        {% else %}
            <li class="disabled">
                <i class="icofont-rounded-left"></i>
            </li>
        {% endif %}
        {% for page in page_obj.paginator %}
            {% if page.number == page_obj.number %}
                <li class="active"><a href="?page={{ page.number }}">{{ page.number }}</a></li>
            {% else %}
                <li><a href="?page={{ page.number }}">{{ page.number }}</a></li>
            {% endif %}
        {% endfor %}
        <!-- <li>
            <a href="#">1</a>
        </li>
        <li class="active">
            <a href="#">2</a>
        </li>
        <li>
            <a href="#">3</a>
        </li> -->
        {% if page_obj.has_next %}
            <li>
                <a href="?page={{ page_obj.next_page_number }}"><i class="icofont-rounded-right"></i></a>
            </li>
        {% else %}
            <li class="disabled">
                <i class="icofont-rounded-right"></i>
            </li>
        {% endif %}
    </ul>
</div>
{% endif %}